*
{
	font-family: 'Open Sans', sans-serif;
}

table tr td 
{
	border-bottom: 1px solid;
}

table
{
	border: 2px solid;
}

div.dataTables_length {
	float: left;
	padding-left: 3px;
	padding-top: 20px;
	margin-bottom: -15px;
}

div.dataTables_filter {
	float: right;
	padding-top: 20px;
	margin-right: 53px;
	margin-bottom: -20px;
}

div.dataTables_wrapper {
  margin: 0 auto;
  width: 97%;
  margin-bottom: 5px;
}

select
{
	margin-right: 4px;
	margin-left: 4px;
	display: inline-block;
}

input
{
	display: inline-block;
}

label
{
	white-space: nowrap;
}

p
{
	margin-left: 23px;
}

h1
{
	margin-left: 20px;
}

.disclaimer
{
	margin-top: 20px;
	font-size: 9px;
}

.table
{
	width: 99.89%;
}
